@import "tailwindcss";


:root {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'Fira Code', monospace;
    --color-deepGreen: #3C6B5B;
    --color-dark: #030319;
    --color-primary: #FAFAFA;
}

@theme {
   --font-sans: 'Inter', sans-serif;
    --font-mono: 'Fira Code', monospace;
    --color-deepGreen: #3C6B5B;
    --color-dark: #030319;
    --color-primary: #FAFAFA;
    --color-secondary: #A6EC90;
    --color-light-orange:#F6EFE6;
}

.nav-link {
    position: relative;
    display: inline-block;
}



.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    transform: translateY(4px);
    height: 4px;
    background-color: var(--color-deepGreen);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 4s linear infinite;
}